<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="{{ document.get('title') }}">
    <meta name="description" content="{{ document.get('title') }}">
    <meta name="author" content="Bug Business">

    <title>{{ document.get('title') }}</title>
</head>
<body>

    <div>
        The title of this document is: {{ document.get('title') }}
    </div>

</body>
</html>